<!DOCTYPE html>
<html lang="en">
<style>
    .hidden {
        display: none;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 300px;
    }

    li {
        clear: both;
    }

    li button {
        -webkit-appearance: none;
        border: none;
        outline: none;
        color: red;
        float: right;
        cursor: pointer;
        font-size: 20px;
    }

    .material-icons.orange600 {
        color: red;
        cursor: pointer;
    }

    .material-icons.md-18 {
        font-size: 18px;
    }

    .lists-wrapper,
    .todos-wrapper {
        display: inline-block;
        vertical-align: top;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    {% for u in user %}
        <h3>Welcome {{ u.first_name }} !</h3>
        {% endfor %}

    <div class="lists-wrapper">
        <form id="form">
            <input type="text" id="name" name="name" required />
            <input type="submit" value="Create" />
        </form>
        <ul id="lists">
            {% for list in lists %}
            <a href="/lists/{{ list.id }}">
                <li>
                    <input class="check-completed" data-id="{{ list.id }}" type="checkbox" {% if list.completed %}
                        checked {% endif %} />{{list.name}}<i class="delete material-icons md-18 orange600"
                        data-id="{{ list.id }}">delete</i>
                </li>
                {% endfor %}
            </a>
        </ul>
    </div>

    <div class="todos-wrapper">
        <h4>{{ active_list.name }}</h4>
        <form id="form">
            <input type="text" id="description" name="description" required />
            <input type="submit" value="Create" />
        </form>

        <div id="error" class="hidden">Something went wrong</div>
        <ul id="todos">
            {% for todo in todos %}
            <li>
                <input class="check-completed" data-id="{{ todo.id }}" type="checkbox" {% if todo.completed %} checked
                    {% endif %} />
                {{ todo.description }}
                <i class="delete material-icons md-18 orange600" data-id="{{ todo.id }}">delete</i>
            </li>
            {% endfor %}
        </ul>
    </div>


    <script>
        const checkboxes = document.querySelectorAll('.check-completed');
        for (let i = 0; i < checkboxes.length; i++) {
            const checkbox = checkboxes[i];
            checkbox.onchange = (e) => {
                console.log('event is ', e);
                const newCompleted = e.target.checked;
                const todoId = e.target.dataset['id'];
                fetch('/todos/' + todoId + '/set-completed', {
                    method: 'POST', // or 'PUT'
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        'completed': newCompleted
                    }),
                }).then(() => {
                    document.getElementById('error').className = 'hidden';
                }).catch(err => {
                    document.getElementById('error').className = '';
                })
            }
        }

        const deleteIcons = document.querySelectorAll('.delete');
        for (let i = 0; i < deleteIcons.length; i++) {
            const deleted = deleteIcons[i];
            deleted.onclick = (e) => {
                console.log('event is ', e);
                const newCompleted = e.target.checked;
                const todoId = e.target.dataset['id'];
                fetch('/todos/' + todoId, {
                    method: 'DELETE', // or 'PUT'
                    headers: {
                        'Content-Type': 'application/json',
                    }
                }).then(() => {
                    document.getElementById('error').className = 'hidden';
                    window.location.href = "/";
                }).catch(err => {
                    document.getElementById('error').className = '';
                })
            }
        }

        document.getElementById('form').onsubmit = function (e) {
            e.preventDefault();
            fetch('/todos/create', {
                method: 'POST', // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    'description': document.getElementById('description').value
                }),
            }).then(response => response.json()).then(resp => {
                console.log(resp);
                const liItem = document.createElement('LI');
                liItem.innerHTML = resp['description'];
                document.getElementById('todos').appendChild(liItem);
                document.getElementById('description').value = "";
                document.getElementById('error').className = 'hidden';
            }).catch(err => {
                document.getElementById('error').className = '';
            })
        }
    </script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</body>

</html>